# Puerto del servidor
PORT=3000

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=adrenalina_extrema
DB_USER=postgres
DB_PASSWORD=

# JWT Secret (cambiar en producción)
JWT_SECRET=tu_secreto_aqui

# Entorno
NODE_ENV=development
