@import "tailwindcss";

@theme {
  --color-primary: #00BFFF;
  --color-secondary: #1E40AF;
  --color-bg: #111827;
  --color-text: #F3F4F6;
}

/* Estilos base para optimizar uso en pista */
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  @apply antialiased;
}

button:active {
  @apply scale-95 transition-transform;
}
